body {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.banner1 {
    background-image: url("img/Banner1.png");
    height: 100vh;
}

.banner1__img {
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
}

.navbar__lista {
    display: flex;
    justify-content: center;
    gap: 7em;
    padding: 5em;
}

.navbar__item-link {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.banner1__conteudo {
    padding-top: 4em;
    text-align: center;
}

.banner1__conteudo--titulo {
    font-size: 96px;
    font-weight: 700;
}

.banner1__conteudo--descricao {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    padding: 1em 14.5em;
}